* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    width: auto;
}
.circle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: skyblue;
    margin-right: 30px;
    margin-bottom: 10px;
}
div a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin: 10px;
}
div a:hover {
    text-decoration: underline black;
}
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: auto;
}
.googleimg {
    margin-top: 20px;
    border: 0px;
}
.share_img {
    width: 22px;
    height: 22px;
    margin-top: 120px;
 
}
.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: auto;
}
input {
    padding: 7px;
    width: 500px;
    font-size: 16px;
    border: none;
    outline: none;
}
.square_mid {
    display: flex;
    height: 40px;
    width: 600px;
    margin-top: 40px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 50px;
}
.lupa {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    opacity: 0.6;
    margin: 2px;
}
.icon_app{
    height: 25px;
    width: 25px;
    opacity: 0.5;
}
div a :hover{
    opacity: 1;
}
.pad {
    width: 25px;
    height: 25px;
    opacity: 0.7;
    padding: 10px;
}
.microphone {
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-right: 15px;
}
.container_input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: auto;
    margin-top: 40px;
}
.container_input input{
    font-size: 14px;
    width: 150px;
    margin: 5px;
    background-color: white;
    border: transparent;
    outline: transparent;
}
.container_input :hover{
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}
.container4 {
    font-size: 15px;
    width: auto;
    height: 30px;
    background-color: rgb(235, 235, 235);
    text-align: left;
    margin-top: 285px;
    color: rgb(0,0,0,.54);
    border-top: 1px solid   rgb(207, 207, 207);
    padding-left: 30px;
    padding-top: 10px;
}
.container5 {
    display: flex;
    font-size: 15px;
    width: auto;
    height: 30px;
    background-color: rgb(235, 235, 235);
    color: rgb(0,0,0,.54);
    border-top: 1px solid   rgb(207, 207, 207);
    padding-left: 15px;
    padding-top: 10px;
}
.container5 div {
    margin-left: 15px;
}


